# ignore all files in the node_modules directory
node_modules/*

# ignore all files with a .git extension
*.git

# ignore all markdown files in the docs directory
docs/**/*.md

# ignore all files in the dist and build directories
dist/*
build/*
.local
.output.js

**/*.svg
**/*.sh

/public/*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 忽略 rollup-plugin-visualizer 生成的包大小分析报告
/stats.html